body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.book-container {
  display: flex;
  max-width: 900px;
  height: 700px;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
}

.book-cover img {
  width: 300px;
  top: 15%;
  margin-left: 5%;
  //height: auto;
  position: absolute;
  object-fit: cover;
  -webkit-box-shadow: 5px 2px 15px 1px rgba(0,0,0,0.28);
  box-shadow: 5px 2px 15px 1px rgba(0,0,0,0.28);
}

.book-details {
  margin-left: 45%;
  padding: 20px;
  flex: 1;
}

.book-details h1 {
  font-size: 2em;
  margin-bottom: 5px;
}

.book-details h2 {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 10px;
}

.book-details .year,
.book-details .rating {
  font-weight: bold;
  margin-bottom: 10px;
}

.book-details .description {
  margin-bottom: 20px;
  line-height: 1.6;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

button.read,
button.listen {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

button.read {
  background-color: #1e90ff;
  color: white;
}

button.listen {
  background-color: #32cd32;
  color: white;
}
.menu{
  width: 300px;
  height: 700px;
  position: absolute;
  background: #536F97;
  background: radial-gradient(circle,rgba(83, 111, 151, 1) 0%, rgba(51, 62, 92, 1) 100%);
}
